@media screen and (max-width: 1090px){
    #contact-bar {
    display: none;
  }
    #main {
    padding-top: 0px !important;
  }
}
@media screen and (min-width: 961px){
	#content{
		min-width:960px !important;
	}
	#header{
		min-width:960px !important;
	}
  #footer-inner{
    min-width:960px !important;
  }
}
@media screen and (max-width: 960px) {

  #sharebar {
    /*  display: none;*/
    left: 30px !important;
    bottom: 0 !important;
    top: auto !important;
    position: fixed;
  }
  #sharebar-links {
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 3px #9d9d4e !important;
    -moz-box-shadow: 2px 2px 3px #9d9d4e !important;
    box-shadow: 2px 2px 3px #9d9d4e !important;
  }
  #sharebar-links li {
    float: left;
    margin-right: 4px !important;
  }
  .testimonio-video iframe {
    width: 100% !important;
  }
  #content{
  	width:100% !important;
  }
  #header{
  	width:100% !important;
  }
  #footer-inner{
  	width:100% !important;
  }
  #homeleft{
  	margin-right:10px !important;
  }
  .img-tours-480{
  	width:68% !important;
  }
  .grid_6.omega{
    width:15% !important;
  }
  #logo
  {
    top: 5px !important;
    left: 5px !important;
    width: 20% !important;
  }
}
@media screen and (max-width: 768px) {
  #welcome h1 {
    padding-top: 5px;
    font-size: 20px !important;
  }
  .region-homeleft ul li,
  .region-homeright ul li,
  .region-sidebar ul li {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    border-bottom: 1px solid #cdcaca;
    padding-left: 10px;
  }
  #footer {
    margin-bottom: 40px;
  }
  #mobile-bar {
    color: #FFF;
    background: #e77418;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: block !important;
    padding: 4px 2px;
    position: fixed;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  #mobile-bar p {
    font: 11px/24px Arial, sans-serif;
    margin-bottom: 0px !important;
  }
  #homeleft{
  	margin-right:5px !important;
  }
  #tour-bar{
  	display:none !important;
  }
  .img-tours-480{
  	width:90% !important;
  	margin: auto;
  }
  .email-responsive td{
    display:block;
    border:none !important;
  }
}
@media screen and (max-width: 640px) {
	#homeleft{
		width:100% !important;
	}
	#homeright{
		width:100% !important;
	}
	#homebottom{
		width:100% !important;
	}
	#homemore{
		width:100% !important;
	}  
	#header-mail {
		width: 300px !important;
		font-size: 12px !important;
		right: 0 !important;
	}
	#homeleft{
		margin-right:5px !important;
	}
	#sharebar{
		display:none;
	}
	#sidebar{
		display:none !important;
	}
	.grid_6{
		width:100% !important;
	}
	.grid_6.omega{
		width:100% !important;
	}
	.sliderDesktop{
		display:none !important;
	}
	.sliderMovile{
		display:block !important;
	}
}

@media screen and (max-width: 480px) {
  #header-mail {
    width: 480px !important;
    font-size: 11px !important;
    right: 0 !important;
  }
  .noticia-social {
    display:none;
  } 
  
  .node-social {
    width: 50px !important;
    float: none !important;
  }
 #sharebar{
 display:none;
 }
 #premio{
  display:none !important;
 }
 table th strong{
  word-break:break-all;
 }
 .img-resp-servicios
    {
      width: 100% !important;
    }
}

@media screen and (max-width: 320px) {
  #header-mail {
    width: 320px !important;
    font-size: 11px !important;
    right: 0 !important;
  }
 #premio{
   display: none;
  }
  #welcome h1 {
    font-size: 14px !important;
    font-weight: bold;
  }
  body {
    font: 11px/1.5em Arial, Helvetica, sans-serif !important;
  }
  .noticia-social {
    display: none;
  } 
  .node-social {
    width: 50px !important;
    float: none !important;
  }
  .ubicacionMapa {
    width: 300px !important;
    height: 201px !important;
  }
  #sharebar{
    display:none;
  } 
  ul li{
    padding-bottom:5px !important;
    padding-top:5px !important;
  }
  thead th{
    word-break: break-all;
  }
}
@media only screen and (max-device-width: 680px){
    .grid-contactanos{
       display:block !important;
    }
}